// The main css file
body {
  font-family: helvetica, arial, sans-serif;
}

h1, .main {
  text-align: center;
}

textarea {
  width: 240px;
  height: 70px;
}

.tweet-timeline {
  width: 400px;
  margin: auto;

  li.tweet {
    position: relative;
    height: 100px;
    list-style: none;
    margin-bottom: 10px;

    border-radius: 3px;
    background-color: #ccc;
    padding: 10px;

    .date {
      position: absolute;
      bottom: 10px;
      font-size: 0.8em;
    }
  }
}
